<mat-dialog-content [formGroup]="form">
    <mat-form-field class="new-entry-field">
        <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <input matInput placeholder="Date" formControlName="creationDate">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <input matInput placeholder="Document" formControlName="document">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <mat-select placeholder="University" formControlName="university">
            <mat-option *ngFor="let university of universities" [value]="university">
                {{university.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>