.basic {
  width: 100%;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin-bottom: 50px;
}

.title {
  width: 50%;
  margin-right: auto;
  margin-left: 10%;
  color: rgb(9, 66, 68);
  font-weight: bolder;
}

.filter {
  font-size: 14px;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.paginator {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mat-row:hover {
  background-color: #a5d8e0;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

#add-uni {
  background: transparent;
  outline: none;
  border: none;
}

#add-uni:hover {
  background: transparent;
  outline: none;
  border: none;
  color: rgb(21, 81, 83);
}
.card {
  background-color: rgba(214, 233, 238, 0.5);
}

.edit {
  color: rgb(0, 102, 128);
  background-color: rgb(93, 162, 167);
}

.edit:hover {
  color: rgb(0, 102, 128);
  background-color: rgb(153, 198, 201);
}

.more-info {
  background-color: rgb(13, 82, 87);
}
.more-info:hover {
  background-color: rgb(114, 187, 192);
}
.del {
  background-color: rgb(51, 137, 143);
}
.del:hover {
  background-color: rgb(91, 161, 167);
}
