<mat-card class="card">
  <div class="title">
    <h2>List of Partner Universities </h2>
  </div>
  <div class="basic" [hidden]="!dataSource">
    <div class="filter">
      <mat-form-field class="filter-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="University name">
      </mat-form-field>
      <button class="add-button" id="add-uni" mat-button (click)="createUniversity()"
        *ngIf="this.sessionService.getUserType()==='admin'">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <div class="wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let i = index">
            {{this.paginator.pageIndex == 0 ?  i +1 : i + this.paginator.pageIndex * this.paginator.pageSize + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfApplicants">
          <th mat-header-cell *matHeaderCellDef> Accepted Students </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfApplicants}} </td>
        </ng-container>

        <ng-container matColumnDef="teacher">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </th>
          <td mat-cell *matCellDef="let element"> {{element.teacher.user.firstName}} {{element.teacher.user.lastName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell class="actions" *matCellDef="let element">
            <button mat-raised-button matTooltip="Edit" matTooltipPosition="after" id="edit" class="edit"
              (click)="updateUniversity(element)" *ngIf="this.sessionService.getUserType()==='admin'">
              <mat-icon color="red">edit</mat-icon>
            </button>
            <button mat-raised-button matTooltip="Delete" matTooltipPosition="after" id="delete" class="del"
              (click)="deleteUniversity(element)" *ngIf="this.sessionService.getUserType()==='admin'">
              <mat-icon color="white">delete_sweep</mat-icon>
            </button>
            <button mat-raised-button matTooltip="See details" matTooltipPosition="after" id="more" class="more-info"
              (click)="viewDetails(element)">
              <mat-icon color="white">dehaze</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="paginator" [hidden]="!dataSource">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</mat-card>