<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Time period is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out time period</ng-template>
            <mat-form-field>
                <mat-select placeholder="Year" formControlName="year">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-select placeholder="Semester" formControlName="semester">
                    <mat-option *ngFor="let semester of semesters" [value]="semester">
                        {{semester}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="university" errorMessage="University is required.">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select the university</ng-template>
            <mat-form-field>
                <mat-select placeholder="University" formControlName="university">
                    <mat-option *ngFor="let university of universities" [value]="university">
                        {{university.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <p>Your summary is: .</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="complete()">Complete</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->