/* Set a style for all buttons */
button {
  background-color: #45ecf1;
  padding: 12px 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  background-color: black;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img {
  border-radius: 50px;
}

.center {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.login-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  // padding: 5%;
}

.login-info {
  margin-left: 25%;
  margin-right: auto;
  color: rgb(9, 107, 110);
  font-weight: bolder;
}

.login-detail {
  margin-left: 40%;
  margin-right: auto;
  color: rgb(5, 56, 58);
  font-weight: bolder;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 70%;
  background-color: rgba(214, 233, 238, 0.562);
}

.form-control:hover{
  background-color:rgb(225, 245, 247);
}