<mat-card *ngIf="data">
    <div class="head">
        <mat-card-title class="title">Contact teacher - {{data.user.firstName}} {{data.user.lastName}}
        </mat-card-title>
        <button mat-raised-button id="back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>


    <mat-dialog-content [formGroup]="formGroup">
        <mat-form-field class="new-entry-field">
            <input matInput placeholder="Subject" formControlName="subject"
                [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
        </mat-form-field>
        <br>

        <div class="form-group">
            <textarea formControlName="message" class="form-control rounded-0" mdbInput
                id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>
        <br>
        <button class="mat-raised-button" (click)="send()">Send</button>
    </mat-dialog-content>
</mat-card>