.head {
    font-size: 14px;
    width: 100%;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.title {
    color: rgb(0, 128, 128);
}

#back {
    background-color: rgb(13, 82, 87);
}
#back:hover {
    background-color: rgb(79, 143, 148);
}
