<mat-dialog-content [formGroup]="form" >
  <mat-form-field class="new-entry-field">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field class="new-entry-field">
    <input matInput placeholder="Applicants" formControlName="numberOfApplicants">
  </mat-form-field>
  <br>
  <mat-form-field class="new-entry-field">
    <mat-select placeholder="Teacher" formControlName="teacher">
      <mat-option *ngFor="let teacher of teachers" [value]="teacher">
        {{teacher.user.firstName}} {{teacher.user.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>