/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,300bold,400bold,700bold,300,400,700");

@import "~bootstrap/dist/css/bootstrap.css";

.style-success {
  color: rgb(72, 255, 0) !important;
  background: white !important;
}
.style-error .mat-simple-snackbar-action {
  color: red;
}

.style-success .mat-simple-snackbar-action {
  color: rgb(0, 255, 55);
}
