<mat-card *ngIf="data">
    <div class="head">
        <mat-card-title class="title">Application Information
        </mat-card-title>
        <button mat-raised-button id="back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <mat-card-subtitle>Information for application #{{id}}</mat-card-subtitle>
    <ul>
        <li>
            University: <b>{{ data.university.name }} </b>
        </li>
        <li>
            Student: {{ data.student.firstName }} {{ data.student.lastName }}
        </li>
        <li>Status:
            <span class="dot" [ngClass]="{
                'dot-red' : data.status == 'DENIED',
                'dot-green' : data.status == 'APPROVED',
                'dot-yellow' : data.status == 'PENDING'}"></span>
            {{data.status}}
        </li>
    </ul>
</mat-card>