<nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'
    *ngIf="this.sessionService.isAuthenticated();">
    <div class="container">
        <a class="navbar-brand" [routerLink]='["/home"]'>Erasmus Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
            <ul class="navbar-nav flex-grow">
                <li class="nav-item" [routerLinkActive]='["link-active"]'
                    *ngIf="this.sessionService.getUserType()==='admin' || this.sessionService.getUserType()==='student'">
                    <a class="nav-link " [routerLink]='["/teachers"]'>Teachers</a>
                </li>

                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link " [routerLink]='["/universities"]'>Universities</a>
                </li>

                <li class="nav-item" [routerLinkActive]='["link-active"]'
                    *ngIf="this.sessionService.getUserType()==='admin'">
                    <a class="nav-link " [routerLink]='["/applications"]'>Applications</a>
                </li>

                <li class="nav-item" [routerLinkActive]='["link-active"]'
                    *ngIf="this.sessionService.getUserType()==='student'">
                    <a class="nav-link " [routerLink]='["/applications"]'>My Applications</a>
                </li>

                <li class="nav-item d-sm-inline-flex " [routerLinkActive]='["link-active"]'
                    *ngIf="this.sessionService.getUserType()==='student'">
                    <a class="nav-link " [routerLink]='["/profile"]'> My Profile</a>
                    <span class="material-icons" id="profile">
                        perm_identity
                    </span>
                </li>

                <li class="nav-item d-sm-inline-flex " [routerLinkActive]='["link-active"]'>
                    <a class="nav-link " [routerLink]='["/logout"]' matTooltip="See details" matTooltipPosition="after">
                        <span class="material-icons" id="logout">
                            meeting_room
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>