<mat-card class="card">
    <div class="title">
        <h2>List of Partner Teachers </h2>
    </div>
    <div class="basic" [hidden]="!dataSource">
        <div class="filter">
            <mat-form-field class="filter-field">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Teacher name">
            </mat-form-field>
            <button class="add-button" id="add-uni" mat-button (click)="addTeacher()" *ngIf="this.sessionService.getUserType()==='admin'">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
        <div class="wrapper">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let i = index">
                        {{this.paginator.pageIndex == 0 ?  i +1 : i + this.paginator.pageIndex * this.paginator.pageSize + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.lastName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef> department </th>
                    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell class="actions" *matCellDef="let element">
                        <button mat-raised-button id="edit" class="edit" (click)="updateTeacher(element)" *ngIf="this.sessionService.getUserType()==='admin'">
                            <mat-icon color="red">edit</mat-icon>
                        </button>
                        <button mat-raised-button id="delete" class="del" (click)="deleteTeacher(element)" *ngIf="this.sessionService.getUserType()==='admin'">
                            <mat-icon color="white">delete_sweep</mat-icon>
                        </button>
                        <button mat-raised-button id="more" class="more-info" (click)="viewDetails(element)">
                            <mat-icon color="white">dehaze</mat-icon>
                        </button>
                        <button mat-raised-button id="more" class="more-info" (click)="sendEmail(element)">
                            <mat-icon color="white">all_inbox</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="paginator" [hidden]="!dataSource">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</mat-card>