<mat-card *ngIf="data">
    <div class="head">
        <mat-card-title class="title">{{data.name}}
        </mat-card-title>
        <button mat-raised-button id="back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <mat-card-subtitle>Information for {{data.name}}</mat-card-subtitle>
    <ul>
        <li>
            Number of accepted students: <b>{{ data.numberOfApplicants }} </b> per year
        </li>
        <li>
            Teacher: {{ data.teacher.user.firstName }} {{ data.teacher.user.lastName }}
        </li>
    </ul>
    <p *ngIf="accommodation">The available accomodations are: </p>
    <button class="add-button" id="add-uni" mat-button (click)="add()"
        *ngIf="this.sessionService.getUserType()==='admin'">Add
        <mat-icon>add_box</mat-icon>
    </button>
    <ul *ngIf="accommodation">
        <li *ngFor="let acc of accommodation">
            {{ acc.name }} - {{acc.pricePerMonth}}/month for a {{acc.rentType}}
        </li>
    </ul>
</mat-card>