<mat-dialog-content [formGroup]="form">


    <mat-form-field class="new-entry-field">
        <input matInput placeholder="Name" formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <input matInput type="number" min="0" placeholder="Price Per Month" formControlName="pricePerMonth"
            [ngClass]="{ 'is-invalid': submitted && f.pricePerMonth.errors }">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <input matInput placeholder="Distance from uni" formControlName="distanceFromUniversity"
            [ngClass]="{ 'is-invalid': submitted && f.distanceFromUniversity.errors }">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <mat-select placeholder="Rent type" formControlName="rentType"
            [ngClass]="{ 'is-invalid': submitted && f.rentType.errors }">
            <mat-option *ngFor="let rent of rents" [value]="rent">
                {{rent}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" color="warn" (click)="close()">Close</button>
    <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>