<mat-card class="card">
    <div class="title">
        <h2>List of Applications </h2>
    </div>
    <div class="basic" [hidden]="!dataSource">
        <div class="filter">
            <mat-form-field class="filter-field">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Application status">
            </mat-form-field>
            <button class="add-button" id="add-uni" mat-button (click)="createApplication()"
                *ngIf="this.sessionService.getUserType()==='student'">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
        <div class="wrapper">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let i = index">
                        {{this.paginator.pageIndex == 0 ?  i +1 : i + this.paginator.pageIndex * this.paginator.pageSize + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.creationDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> <span class="dot" [ngClass]="{
                        'dot-red' : element.status == 'DENIED',
                        'dot-green' : element.status == 'APPROVED',
                        'dot-yellow' : element.status == 'PENDING'}"></span>
                        {{element.status}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="university">
                    <th mat-header-cell *matHeaderCellDef> University </th>
                    <td mat-cell *matCellDef="let element"> {{element.university.name}} </td>
                </ng-container>

                <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
                    <td mat-cell *matCellDef="let element"> {{element.document.type}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
                    <td mat-cell *matCellDef="let element"> {{element.student.firstName}}
                        {{element.student.lastName}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell class="actions" *matCellDef="let element">
                        <button mat-raised-button id="edit" class="edit" (click)="updateApplication(element) "
                            *ngIf="this.sessionService.getUserType()==='admin'">
                            <mat-icon color="red">edit</mat-icon>
                        </button>
                        <button mat-raised-button id="delete" class="del" (click)="deleteApplication(element)">
                            <mat-icon color="white">delete_sweep</mat-icon>
                        </button>
                        <button mat-raised-button id="more" class="more-info" (click)="viewDetails(element)">
                            <mat-icon color="white">dehaze</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="paginator" [hidden]="!dataSource">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</mat-card>