<mat-dialog-content [formGroup]="form">


  <mat-form-field class="new-entry-field">
    <input matInput placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
  </mat-form-field>
  <br>
  <mat-form-field class="new-entry-field">
    <input matInput placeholder="Applicants" formControlName="numberOfApplicants"
      [ngClass]="{ 'is-invalid': submitted && f.numberOfApplicants.errors }">
  </mat-form-field>
  <br>
  <mat-form-field class="new-entry-field">
    <mat-select placeholder="Teacher" formControlName="teacher"
      [ngClass]="{ 'is-invalid': submitted && f.teacher.errors }">
      <mat-option *ngFor="let teacher of teachers" [value]="teacher">
        {{teacher.user.firstName}} {{teacher.user.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" color="warn" (click)="close()">Close</button>
  <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>