dl {
  width: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}
.head {
  font-size: 14px;
  width: 100%;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.mobility{
  border: solid 1px black;
  background-color: rgb(245, 233, 233);
}
.title {
  color: rgb(0, 128, 128);
}

#back {
  background-color: rgb(13, 82, 87);
}
#back:hover {
  background-color: rgb(79, 143, 148);
}

#mobilities {
  background-color: rgb(145, 227, 233);
}
#mobilities:hover {
  background-color: rgb(79, 143, 148);
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.dot-red {
  background-color: red;
}
.dot-green {
  background-color: green;
}
.dot-yellow {
  background-color: yellow;
}
