<mat-card>
    <div class="head">
        <mat-card-title>Personal Profile - {{this.user}}</mat-card-title>
        <button mat-raised-button id="back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <mat-card-subtitle>Here you can find personal information</mat-card-subtitle>
    <mat-card-content *ngIf="this.student">
        <dl>
            <dt>year of study:</dt>
            <dd>{{student.year}}</dd>
            <br>
            <dt>average grade: </dt>
            <dd>{{student.averageGrade}}</dd>
        </dl>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!this.mobilities" mat-button id="mobilities" (click)="getMobilities()">See mobilities</button>
    </mat-card-actions>
    <mat-card-content *ngIf="this.mobilities">
        <div *ngFor="let mobility of mobilities">
            
            <div>
                <p class="mobility">{{mobilities.indexOf(mobility) + 1}}) {{mobility.application.university.name}}</p>
                Status: {{mobility.application.status}} <span class="dot" [ngClass]="{
                'dot-red' : mobility.application.status == 'DENIED',
                'dot-green' : mobility.application.status == 'APPROVED',
                'dot-yellow' : mobility.application.status == 'PENDING'}"></span>
                <br>
                Subjects that are included in the mobility: </div>
            <ul *ngFor="let subject of mobility.subjects.subjects">
                <li>Code: {{subject.subjectCode}}, Name: {{subject.subjectName}}, term: {{subject.term}}, Credits:
                    {{subject.credits}} </li>
            </ul>
        </div>

    </mat-card-content>
</mat-card>